<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
</head>
<body>
<!--    null이면 에러페이지 나오는거 수정해주세요....그리고 c마하고 업데이트 삭제 안했네여...존나 귀팒은데요-->
    <span>
        <a th:href="@{/myPage}">이전</a>
    </span>
    <form method="post" action="/address">
        <input name="postNumber" type="text" class="postNumber" placeholder="우편번호">
        <input name="basicAddress" type="text" class="basicAddress" placeholder="기본주소">
        <input name="detailedAddress" type="text" class="detailedAddress" placeholder="상세주소">
        <button type="submit">저장</button>
    </form>
    <a th:href="@{/addresss}">주소선택</a>
</body>
</html>