<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <span>
        <a th:href="@{/home}">홈</a>
        <a href="">수정하기</a>
    </span>
    <div>
        <h1>이소빈님</h1>
    </div>
    <table>
        <tr>
            <th>MyPage</th>
            <th></th>
        </tr>
        <tr>
            <td>이름</td>
            <td>이소빈</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>네이버</td>
        </tr>
        <tr>
            <td>주소</td>
            <td>부산광역시</td>
        </tr>
        <tr>
            <td>전번</td>
            <td>2266495</td>
        </tr>
    </table>
</body>
</html>