<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <span>
        <a th:href="@{/}">홈</a>
    </span>
    <h1>MyPage</h1>

    <table>
        <tr>
            <td>이름</td>
            <td th:text="${user.getName()}" ></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td></td>
        </tr>
        <tr>
            <td>주소</td>
            <td></td>
        </tr>
        <tr>
            <td>카드</td>
            <td></td>
        </tr>
    </table>

    <div>
        <h3>나의설정</h3>
        <span>
            <a th:href="@{/address}">나의주소</a>
            <a th:href="@{/card}">나의카드</a>
            <a th:href="@{/memberInformation}">회원정보</a>
            <a th:href="@{/coupon}">쿠폰함</a>
        </span>
    </div>
</body>
</html>