<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>
        <a th:href="@{/}">홈</a>
    </span>
    <div>
        <h1>주무할 도서</h1>
<!--        <table>-->
<!--            <tr th:each="cartBook : ${cartBook}">-->
<!--                <td th:text="${cartBook.get(0).getBook().title}"></td>-->
<!--                <td th:text="${cartBook.get(0).getBook().writer}"></td>-->
<!--                <td th:text="${cartBook.get(0).book_total_count}"></td>-->
<!--                <td th:text="${cartBook.get(0).book_total_price}"></td>-->
<!--            </tr>-->
<!--        </table>-->

    </div>
   <div>
       <form action="/order" method="post">
           <div>
               <select name="basicAddress"  >
                   <option  selected>배송지 선택</option>
                   <option  th:value="${address.basicAddress}" th:each="address : ${address}"  th:text="${address.basicAddress}"></option>

               </select>
           </div>
           <div>
               <select name="cardNumber"  >
                   <option selected>결제 수단 선택</option>
                   <option th:each="cards : ${card}" th:value="${cards.getCardNumber()}"   th:text="${cards.getCardNumber()}"></option>
               </select>
           </div>
           <button type="submit">결제</button>
       </form>
   </div>
    <script type="text/javascript">

    </script>
</body>
</html>