<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>
        <a th:href="@{/}">홈</a>
<!--        <h2 th:text="${user.name}"></h2>-->
    </span>
   <div>
       <form action="/order" method="post">
           <div>
               <select name="basicAddress"  >
                   <option  selected>배송지 선택</option>
                   <option  th:value="${address.basicAddress}" th:each="address : ${address}"  th:text="${address.basicAddress}"></option>

               </select>
           </div>
           <div>
               <select name="cardNumber"  >
                   <option selected>결제 수단 선택</option>
                   <option th:each="cards : ${card}" th:value="${cards.getCardNumber()}"   th:text="${cards.getCardNumber()}"></option>
               </select>
           </div>
           <button type="submit">결제</button>
       </form>
   </div>
    <div>

    </div>
</body>
</html>