<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span>
        <a th:href="@{/}">홈</a>
    </span>
    <table>
        <tr>
            <th>주문번호</th>
            <th>수령인</th>
            <th>주문상품</th>
            <th>주문금액</th>
            <th>주문수량</th>
            <th>주소</th>
            <th>카드</th>
        </tr>
        <form action="/orderDelete" method="post">

            <tr th:each="orders : ${order}">
                <input type="hidden" name="orderID" th:value="${orders.getOrderList_id()}">
                <td th:text="${orders.order.order_id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${orders.getBook().title}"></td>
                <td th:text="${orders.book_total_price}"></td>
                <td th:text="${orders.book_total_count}"></td>
                <td th:text="${orders.getOrder().basicAddress}"> </td>
                <td th:text="${orders.getOrder().card_number}"></td>
                <td><button type="submit">삭제</button></td>
            </tr>
        </form>
    </table>
</body>
</html>