<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <span>
        <a th:href="@{/}">홈</a>
    </span>
    <div>
        <label>주소</label>
        <form action="/addresss" method="post">
            <select name="basicAddress"  >
                <option value="기본배송지" selected>기본배송지를 선택해주세요</option>
                <option th:value="${address.basicAddress}" th:each="address : ${address}"  th:text="${address.basicAddress}"></option>
            </select>
            <button type="submit">저장</button>
        </form>
    </div>
</body>
</html>