<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <span>
        <a th:href="@{/}">홈</a>
    </span>
    <div>
        <table>
            <tr>
                <th>우편번호</th>
                <th>기본주소</th>
                <th>상세주소</th>
            </tr>
            <form action="/address" method="post">
                <tr th:each="address : ${address}">
                    <td th:text="${address.postNumber}"></td>
                    <td th:text="${address.basicAddress}"></td>
                    <td th:text="${address.detailedAddress}"></td>
                    <td><button type="submit">저장</button></td><!--내가 선택한 주소 저장하는데 오류남-->
                </tr>

            </form>
        </table>
    </div>
</body>
</html>